M95ETT_0928/M95ETT_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT M95ETT_orarend (ora)*>

<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora 
    id CDATA #REQUIRED
    tipus CDATA #REQUIRED>
    <!ELEMENT targy (#PCDATA)>
    <!ELEMENT idopont (nap, tol, ig)>
        <!ELEMENT nap (#PCDATA)>
        <!ELEMENT tol (#PCDATA)>
        <!ELEMENT ig (#PCDATA)>
    <!ELEMENT helyszin (#PCDATA)>
    <!ELEMENT oktato (#PCDATA)>
    <!ELEMENT szak (#PCDATA)>